  <div class="container">
  <h1 style="margin-bottom: 70px;"><center>Paket Catring</center></h1>
</div>
  <div class="container">
    <div class="row">

      <div class="col-sm ">
        <h5>Paket Standar</h5>
        Rp. <br>
        <p>Condition : Min 250 Pax</p>
        Food :<br>
        1. Aneka Soup<br>
        2. CapCay<br>
        3. Mie Goreng<br>
        4. Aneka Olahan Ayam<br>
        5. Nasi Kebuli<br>
        <p>6. Nasi Putih</p>
        Beverages :<br>
        Es Buah Coctail<br>
        <p>Air Mineral</p>
        Desserts :<br>
        Buah Potong<br>
        <button>Pesan</button>
      </div>

      <div class="col-sm ">
        <h5>Paket Silver</h5>
        Rp. <br>
        <p>Condition : Min 400 Pax</p>
        Food :<br>
        1. Aneka Soup<br>
        2. Aneka Tumisan<br>
        3. Mie Goreng<br>
        4. Aneka Olahan Ayam<br>
        5. Aneka Olahan Daging<br>
        6. Nasi Putih<br>
        7. Nasi Kebuli<br>
        <p>8. Kerupuk Udang</p>
        Beverages :<br>
        Aneka Es Buah<br>
        <p>Air Mineral</p>
        Desserts : <br>
        Buah Potong<br>
        Puding Potong<br>
      </div>

      <div class="col-sm ">
        <h5>Paket Gold</h5>
        Rp. 500<br>
        <p>Condition : Min 500 Pax</p>
        Food :<br>
        1. Aneka Soup<br>
        2. Aneka Tumisan<br>
        3. Sambal Goreng Ati<br>
        4. Aneka Olahan Ayam Spesial<br>
        5. Aneka Olahan Daging Spesial<br>
        6. Aneka Olahan Ikan<br>
        7. Nasi Putih<br>
        8. Nasi Kebuli<br>
        <p>9. Kerupuk Udang</p>
        Beverages :<br>
        Aneka Es Buah<br>
        Juice<br>
        <p>Air Mineral</p>
        Desserts :<br>
        Buah Potong<br>
        Puding Potong<br>
        Salad Buah dan Sayur<br>
      </div>
      <div class="col-sm ">
       <h5>Paket Platinum</h5>
        Rp. 500<br>
        <p>Condition : Min 500 Pax</p>
        Food :<br>
        1. Aneka Soup<br>
        2. Aneka Tumisan<br>
        3. Sambal Goreng Ati<br>
        4. Aneka Olahan Ayam Spesial<br>
        5. Aneka Olahan Daging Spesial<br>
        6. Aneka Olahan Ikan<br>
        7. Nasi Putih<br>
        8. Nasi Kebuli<br>
        <p>9. Kerupuk Udang</p>
        Beverages :<br>
        Aneka Es Buah<br>
        Juice<br>
        <p>Air Mineral</p>
        Desserts :<br>
        Buah Potong<br>
        Puding Potong<br>
        Salad Buah dan Sayur<br></div>
    </div>  
  </div>
</div>