<div class="container">
  <h1 style="margin-bottom: 70px;"><center>Paket Wedding</center></h1>
     
  <div class="container">     
    <div class="row">
      <div class="col ">
        <p>Paket Bronze </p>
        <p>Rp. 30.000.000</p>
        1. Catring 600 Porsi<br>
        2. Rias Pengantin Lengkap (Tradisional/Internasional)<br>
        3. Photography 3 Roll + Album<br>
        4. Video shooting Liputan Acara Hari H<br>
        5. Music Entertainment + MC<br>
        6. Shound System<br>
        7. Kue Pengantin<br>
        8. Undangan 300 pcs<br>
        9. Souvenir 300 pcs<br>
        <br>
      </div>
      <div class="col ">
        <p>Paket Silver </p>
        <p>Rp. 35.000.000</p>
        1. Catring 600 Porsi (5 Stanad)<br>
        2. Rias Pengantin Lengkap (Tradisional)<br>
        3. Pelaminan Sketsel Modifikasi / Etnik Minimalis<br>
        4. Video shooting Liputan Acara Hari H 1 DVD<br>
        5. Music Entertainment + MC<br>
        6. Shound System<br>
        7. Photography 3 Roll + Album<br>
        8. Undangan 300 pcs<br>
        9. Souvenir 300 pcs<br>
        10.Dekorasi Bunga Hidup<br>
        <br>
       </div> 

      <div class="col ">
       <p>Paket Gold </p>
        <p>Rp. 45.000.000</p>
        1. Catring 800 Porsi (5 Stanad)<br>
        2. Rias Pengantin Lengkap (Tradisional)<br>
        3. Pelaminan Etnik Garden / Semi Gebyok / Modern Minimalis<br>
        4. Video shooting Liputan Acara Hari H 1 DVD<br>
        5. Music Entertainment + MC<br>
        6. Shound System<br>
        7. Photography 3 Roll + Album<br>
        8. Undangan 400 pcs<br>
        9. Souvenir 400 pcs<br>
        10.Dekorasi Bunga Hidup<br>
        <br>
      </div>
      <br>
    <div class="col-sm-7  ">
       <p>Paket Platinum </p>
        <p>Rp. 60.000.000</p>
        1. Catring 1000 Porsi (8 Stanad)<br>
        2. Rias Pengantin Lengkap (Tradisional/Internasional)<br>
        3. Pelaminan Etnik Garden / Semi Gebyok / Modern Minimalis Dll<br>
        4. Video shooting Liputan Acara Hari H 2 DVD<br>
        5. Music Entertainment + MC<br>
        6. Shound System<br>
        7. Photography 3 Roll + Album<br>
        8. Undangan 500 pcs<br>
        9. Souvenir 500 pcs<br>
        10.Dekorasi Bunga Hidup<br>
        11.Upacara Adat (Siraman, Sawer, Mapag Penganten, Degung)
        <br>
      </div>
      <div class="col  ">
       <p>Paket Platinum </p>
        <p>Rp. 60.000.000</p>
        1. Catring 1000 Porsi (8 Stanad)<br>
        2. Rias Pengantin Lengkap (Tradisional/Internasional)<br>
        3. Pelaminan Etnik Garden / Semi Gebyok / Modern Minimalis Dll<br>
        4. Video shooting Liputan Acara Hari H 2 DVD<br>
        5. Music Entertainment + MC<br>
        6. Shound System<br>
        7. Photography 3 Roll + Album<br>
        8. Undangan 500 pcs<br>
        9. Souvenir 500 pcs<br>
        10.Dekorasi Bunga Hidup<br>
        11.Upacara Adat (Siraman, Sawer, Mapag Penganten, Degung)
        <br>
      
      </div>
    </div>
  </div>
</div>
    